<ng-template #loading>
  <div class="loading ms-3">loading planets...</div>
</ng-template>
<div *ngIf="reloadList">
  <button class="btn btn-outline-primary mb-3 ms-3"
          (click)="initPlanets()"><i class="fa fa-refresh"></i> Show all records</button>
</div>
<ng-container *ngIf="planets$ | async as planets else loading">
  <div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead>
      <tr>
        <th>Name</th>
        <th>Population</th>
        <th>Terrain</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let planet of planets" (click)="showPlanet(planet)">
        <td>{{ planet?.name }}</td>
        <td>{{ planet?.population }}</td>
        <td>{{ planet?.terrain }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</ng-container>
