/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sansserif;
}

@import "assets/icons/font-awesome-4.7.0/css/font-awesome.min.css";
